<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934199557267-d104j9p4l4nh2v3dtoo03e28k0orcf6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934199557267-d104j9p4l4nh2v3dtoo03e28k0orcf6h</string>
	<key>API_KEY</key>
	<string>AIzaSyDFHu89FWjox0lc-uhkvGy29c5CEbzR2UE</string>
	<key>GCM_SENDER_ID</key>
	<string>934199557267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shadhin.056056</string>
	<key>PROJECT_ID</key>
	<string>ios-project-80fb2</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-80fb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934199557267:ios:6d30b98782904c40d0e166</string>
	<key>DATABASE_URL</key>
	<string>https://ios-project-80fb2.firebaseio.com</string>
</dict>
</plist>